@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Metropolis-bold";
  src: url("/fonts/MetropolisFontFamily/Metropolis-Bold.otf") format("truetype");
  /* Add other font weights and styles as needed */
}
@font-face {
  font-family: "Metropolis-semibold";
  src: url("/fonts/MetropolisFontFamily/Metropolis-SemiBold.otf")
    format("truetype");
  /* Add other font weights and styles as needed */
}
@font-face {
  font-family: "Metropolis-regular";
  src: url("/fonts/MetropolisFontFamily/Metropolis-Regular.otf")
    format("truetype");
  /* Add other font weights and styles as needed */
}
@font-face {
  font-family: "Metropolis-extrabold";
  src: url("/fonts/MetropolisFontFamily/Metropolis-ExtraBold.otf")
    format("truetype");
  /* Add other font weights and styles as needed */
}
